/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    background-color: #14B9EF;
}

a {
    text-decoration: none;
    transition: all .5s linear;
}

a:hover {
    color:white;
}

h1 {
    font-family: cursive;
}

#header {
    margin-left: 20px;
}

#hangman {
    margin:auto;
    margin-top: -16%;
    width: 150px;
    height: 308px;
}

#rope {
    width: 6px;
    height: 128px;
    border:2px black solid;
    margin: auto;
}

#head {
    background-color:blue;
    border-radius: 55px;
    width:100px;
    height:100px;
    border:2px black solid;
    margin: auto;
    
}

#body {
    width: 23px;
    height: 126px;
    border:2px black solid;
    margin: auto;
    border-radius: 10px;
}

#larm {
    width: 10px;
    height: 74px;
    border: 2px black solid;
    -ms-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    float: left;
    margin-top: -129px;
    margin-left: 29px;
    border-radius: 10px;
}
#rarm {
    width: 10px;
    height: 74px;
    border: 2px black solid;
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    transform: rotate(-37deg);
    float: right;
    margin-top: -129px;
    margin-right: 29px;
    border-radius: 10px;
}

#lfoot {
    width: 10px;
    height: 74px;
    border: 2px black solid;
    -ms-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    float: left;
    margin-top: -9px;
    margin-left: 35px;
    border-radius: 10px;
}

#rfoot {
    width: 10px;
    height: 74px;
    border: 2px black solid;
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    transform: rotate(-37deg);
    float: right;
    margin-top: -9px;
    margin-right: 35px;
    border-radius: 10px;
}

#word {
    text-align:center;
    margin-top: 10%;
    font-size: 50px;
    letter-spacing: 30px;
    color: rgba(0,0,0,0);;
}

#wrong {
    text-align:center;
    clear:both;
    letter-spacing: 30px;
    margin-top: 35px;
    color:red;
}

#winner {
    text-align:center;
    color:green;
    font-size:40px;
    margin-top:40px;
    cursor: pointer;
}

#submit {
    background-color: #14B9EF;
    border: 2px solid black;
    transition: .5s linear;
}

input:focus {
    outline: none; 
    }

#submit:hover {
    background-color: #9792DC;
    border: 2px solid #FFE2E2;
}

.wrapper {
   width: 34%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.bot_border {
    border-bottom:2px black solid;
    margin-left: 20px;
}

.show {
    display:block;
}

.hidden {
    display: none;
}


.float-left {
    float:left;
}

.letterSpace {
    letter-spacing: 25px;
}

.underlinedField {
  padding: 10px;
    border: none;
    border-bottom: solid 3px #000000;
    transition: border 0.3s;
    background-color: #14B9EF;
    box-shadow: none !important;
    -webkit-appearance: none;
    margin-bottom: 20px;
    animation-name:gone;
    animation-duration:1.5s;
    animation-iteration-count: 3;
}

@keyframes gone {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { -webkit-transform: scale(1); opacity: 0; display:none; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@-webkit-keyframes gone {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1); opacity: 0; display:none; }
  100% { transform: scale(1); opacity: 1; }
}

.black {
    color:black;
}

.man1, .man2, .man3, .man4, .man5, .man6, .man7 {
    display:none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
